<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label>品名</label>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <label>数量</label>
    <%= form.number_field :quantity %>
  </div>

  <div class="field">
    <label>重量</label>
    <%= form.number_field :weight %>
  </div>

  <div class="field">
    <label>単位(kg, L)</label>
    <%= form.text_field :unit %>
  </div>

  <div class="field">
    <label>税込金額</label>
    <%= form.number_field :price %>
  </div>

  <div class="field">
    <label>税抜金額</label>
    <%= form.number_field :non_taxed_price %>
  </div>

  <div class="field">
    <label>送料</label>
    <%= form.number_field :shipping_fee %>
  </div>

  <div class="field">
    <label>ポイント</label>
    <%= form.number_field :point %>
  </div>

  <div class="field">
    <label>ストア</label>
    <%= form.text_field :store %>
  </div>

  <div class="field">
    <label>URL</label>
    <%= form.text_field :url %>
  </div>

  <div class="field">
    <label>備考</label>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit value: '登録' %>
  </div>
<% end %>
