<p id="notice"><%= notice %></p>

<h1>商品一覧</h1>

<%= link_to '商品の登録', new_product_path %>

<table>
  <thead>
    <tr>
      <th>最安値</th>
      <th>品名</th>
      <th>数量</th>
      <th>重量</th>
      <th>税抜金額</th>
      <th>税込金額</th>
      <th>送料</th>
      <th>ポイント</th>
      <th>平均の合計[円]</th>
      <th>合計[円]</th>
      <th>ストア</th>
      <th>URL</th>
      <th>備考</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.lowest %></td>
        <td><%= product.name %></td>
        <td><%= product.quantity %></td>
        <td><%= product.weight %><%= product.unit %></td>
        <td><%= product.non_taxed_price %></td>
        <td><%= product.price %></td>
        <td><%= product.shipping_fee %></td>
        <td><%= product.point %></td>
        <td><%= product.avarage_sum_price %></td>
        <td><%= product.sum_price %></td>
        <td><%= product.store %></td>
        <td><%= product.url %></td>
        <td><%= product.description %></td>
        <td><%= link_to '詳細', product %></td>
        <td><%= link_to '編集', edit_product_path(product) %></td>
        <td><%= link_to '削除', product, method: :delete, data: { confirm: '本当に削除してよろしいですか。' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
