<p id="notice"><%= notice %></p>

<p>
  <strong>最安値</strong>
  <%= @product.lowest %>
</p>

<p>
  <strong>品名</strong>
  <%= @product.name %>
</p>

<p>
  <strong>数量</strong>
  <%= @product.quantity %>個
</p>

<p>
  <strong>重量</strong>
  <%= @product.weight %><%= @product.unit %>
</p>

<p>
  <strong>税抜金額</strong>
  <%= @product.non_taxed_price %>円
</p>

<p>
  <strong>税込金額</strong>
  <%= @product.price %>円
</p>

<p>
  <strong>送料</strong>
  <%= @product.shipping_fee %>
</p>

<p>
  <strong>ポイント</strong>
  <%= @product.point %>
</p>

<p>
  <strong>平均の合計</strong>
  <%= @product.avarage_sum_price %>円
</p>

<p>
  <strong>合計</strong>
  <%= @product.sum_price %>円
</p>

<p>
  <strong>ストア</strong>
  <%= @product.store %>
</p>

<p>
  <strong>URL</strong>
  <%= @product.url %>
</p>

<p>
  <strong>備考</strong>
  <%= @product.description %>
</p>

<%= link_to '編集', edit_product_path(@product) %> |
<%= link_to '戻る', products_path %>
